DEBUG=YES
PORT=3120
BASE_URL=http://localhost:3120
API_BASE_URL=http://localhost:3110
MONGO_URI=mongodb://localhost:27017/
DB_NAME=braintest
CONNECTION_TOKEN_SIGN_KEY=TOKEN
CORS_ALLOWEDS=http://localhost:3110,http://localhost:3120,http://localhost:3130