DEBUG=YES
PORT=8989
BASE_URL=http://localhost:8989
CORS_ALLOWEDS=http://localhost:8989,http://127.0.0.1:8989
MAX_UPLOAD_SIZE=1073741824
CHUNK_SIZE=5242880
UPLOAD_PASSWORD=1234
LOGO_URL=/static/logo.png
FAVICON_URL=/static/favicon.ico
